@tailwind base;
@tailwind components;
@tailwind utilities;
.cor{
  font-family: var(--font-cor);
}
:root {font-size: calc(16 * 100vw / 1366);}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

}

body {
animation: transitionIn 0.75s;
}